.container {
    width: 100%;
    max-width: 28rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #1a202c;
    color: #f6ad55;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }
  
  .password-container {
    display: flex;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .password-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
  }
  
  .copy-button {
    background-color: #3182ce;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  .controls {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  
  .control {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .slider {
    cursor: pointer;
  }
  